<div class="container-fluid">
    <div class="row">
        <div class="row rounded d-flex justify-content-center">
            <div style="width: 100%; text-align: center;" class="col-xs-12 col-md-12">
                <h2>This is Sports Shop application where</h2><br>
            <h4>You can login by using id password<br><br>
                You can add, update and delete customer<br><br>
                You can add ,update and delete product<br><br>
                You can order multiple items<br><br><br><br>
                Contact us @Email-tanmayaswain2000@gmail.com<br>
                Phone: 28777-97738
             </h4>
                

             
            </div>
        </div>
    </div>
</div>
