<div class="container">
    <div class="row" style="margin-top: 5%;">
        <div class="col-xs-4 col-md-4">
            <div class="card-box">
                <h3 class="card-title">Customers</h3>
                <br>
                <span class="card-count">{{customerList?.length}}+</span>
            </div>
            
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="card-box" style="background: #ff4081;">
                <h3 class="card-title">Items</h3>
                <br>
                <span class="card-count">{{productList?.length}}+</span>
            </div>
        </div>
        <div class="col-xs-4 col-md-4">
            <div class="card-box" style="background: #0ba960;">
                <h3 class="card-title" >Orders</h3>
                <br>
                <span class="card-count">{{orderList?.length}}+</span>
            </div>
        </div>
    </div>
</div>